{% extends "base.html" %}
{% load static %}

{% block title %}Categoriyalar bo'yicha{% endblock title %}

{% block link %}{% static 'css/forms.css' %}{% endblock link %}

{% block content %}
<div class="container">
    <div class="section-title">
        <h1 class="">{{ category }}</h1>
    </div>
    <div class="blog-items">
        {% for article in object_list %}
    <li class="articel-item blog-item">
        <a href=" {% url 'article_detail' pk=article.pk %} ">
            <div class="articel-img">
                {% if article.image %}
                <img src="{{ article.image.url }}" alt="">
                {% else %}
                <img src="{% static 'images/rasm10.jpg' %}" alt="">
                {% endif %}
            </div>
            <div class="articel-content">
                <p class="bg-author">
                    {{ user.username | title }}
                </p>
                <p class="bg-title"> {{ article.title }} </p>
                <p class="bg-date">
                    {{ article.date }}
                </p>
            </div>
        </a>
    </li>
    {% endfor %}
    </div>
</div>
{% endblock content %}