{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Edit profile
{% endblock title %}

{% block link %} {% static 'css/edit_profile.css' %}{% endblock link %}

{% block content %}
<div class="container">
    <h1 class="text-center">Shaxsiy ma'lumotlar</h1>
    <!-- {{ error }} -->
    <form method="post" class="edit">
        {% csrf_token %}
        {{ form|crispy }}
        <a class="data-a" href="{% url 'password_change' %}">Parolni almashtirish</a>
        <input class="center btn btn-success mt-3 button" type="submit" value="Tahrirlash">
    </form>
</div>
{% endblock content %}