{% extends 'base.html' %}
{% load static %}

{% block title %}Blog site || Asadbek Muxtorov{% endblock title %}


{% block content %}
<!-- blog items -->
<div class="container control-area">
    <div class="dropdown">
        <button class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Hududlar
        </button>
        <ul class="dropdown-menu">
            {% for key, value in regions.items %}
                <li>
                    <a class="dropdown-item" href="{% url 'regions' key %}">{{ value }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="dropdown">
        <button class="btn  dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Kategoriyalar
        </button>
        <ul class="dropdown-menu">
            {% for key, value  in categories.items %}
              <li>
                <a class="dropdown-item" href="{% url 'categories' key %}">{{value}}</a>
              </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="container">
    <div class="blogs">
        <div class="section-title">
            <h1 >
                Maqolalar
            </h1>
            <p>
                Read updates on Upwork’s products, corporate initiatives, and partnerships to get insight into the world’s work marketplace.
            </p>
        </div>
        
        <div class="help-bg">
            <a href="#" class="bg-link">
                <div class="article-bg">
                    <div class="bg-img">
                        <img src="static/images/main-hire_8v2CIPm.jpg" alt="title">
                    </div>
                    
                    <div class="blog-content">
                        <p class="bg-author">
                            Muallif: Asadbek Muxtorov
                        </p>
                        <p class="bg-title">How Our Customers Drive Innovation at Upwork</p>
                        <p class="bg-date">
                            Avgust 9, 2022
                        </p>
                    </div>
                </div>
            </a>
            
            
            <div class="articel-item">
                <a href="#">
                    <div class="articel-img">
                        <img src="static/images/main-hire_8v2CIPm.jpg" alt="">
                    </div>
                    <div class="articel-content">
                        <p class="bg-author">
                            Muallif: Asadbek Muxtorov || Farg'ona
                        </p>
                        <p class="bg-title">How Our Customers Drive Innovation at Upwork</p>
                        <p class="bg-date">
                            Avgust 9, 2022
                        </p>
                    </div>
                </a>
            </div>
        </div>
        
        {% include "include_home.html" %}
    </div>
</div>
{% endblock content %}
